@import '../variables';

@cardGap: 75px;

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  .MenuContainer {
    position: absolute;
    width: 800px;
    height: 100px;
    top: 0;
  }

  .Table {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;
    grid-gap: @cardGap;

    .Cell {
      @color: rgba(0, 0, 0, 0.25);
      position: relative;
      width: 128px;
      height: 182px;
      border-radius: 1rem;
      z-index: 0;

      &.playarea_player {
        box-shadow: inset 0 0 0 0.25rem @color;

        &:before {
          position: absolute;
          content: 'Dra kort hit';
          color: @color;
          width: 0;
          left: 30%;
          top: 22%;
          font-family: 'Raleway', sans-serif;
          font-weight: 900;
          font-size: 2rem;
          transform: rotate(-15deg);
        }
      }

      &.playarea_computer {
        z-index: -1;
         background: repeating-linear-gradient(
                 45deg,
                 @color,
                 @color 10px,
                 transparent 10px,
                 transparent 20px
         );
       }

      .Score {
        position: relative;
        display: flex;
        height: 8rem;
        justify-content: center;
        align-items: center;
        font-size: 4rem;
        color: #fff;

        @xTranslation: 200px;
        @yTranslation: -135px;

        &.player {
          transform: translate(-@xTranslation, @yTranslation);

          &:before {
            content: 'Spiller';
          }
        }

        &.computer {
          transform: translate(@xTranslation, @yTranslation);

          &:before {
            content: 'Datamaskin';
          }
        }

        &:before {
          position: absolute;
          color: @color;
          width: 100%;
          text-align: center;
          top: 0;
          left: 0;
          font-family: 'Raleway', sans-serif;
          font-weight: 900;
          font-size: 1.5rem;
        }
      }
    }
  }
}